<script>
     $(".article-List").each(function(index,e){
            $(e).addClass("enter-left-bounce");
        });
    $("#List").mCustomScrollbar();
    $(".article-Introduction").ellipsis(40);

    $($(".article-Title")[0]).find("ins").click();
</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<foreach name="ArticlesList" item="item">
     <div class="article-List" style="">
         <div class="article-Title" this-article-id='{{$item.id}}' style="width:100%;"><ins style="cursor:pointer;" onclick="openArtiele('{{$item.id}}',this);" class="">{{$item.title}}</ins></div>
    <div style="width: 100%;height:71px;padding-top: 15px;word-break: normal;">
        <blockquote>
        <div class="article-Introduction" style="">{{$item.content}}</div>
         </blockquote>
    </div>
    <div style='width: 100%;height:34px;padding-top: 20px;'>
        <ul class="list-inline clearfix">
            <li class="meta-date">
                <i class="glyphicon glyphicon-calendar btn-xs"><span style="font-size:inherit;">{{$item.creattime|date='Y-m-d',###}}</span></i>
            </li>
            <li class="meta-tags pull-right">
                 <i class="glyphicon glyphicon-tag btn-xs">
                     <span style="font-size:inherit;">统计脚本</span>
                 </i>
            </li>
        </ul>
    </div>
</div>
</foreach>


