<style>
    li span{
        color:#bfbfbf;
    }
</style>
<script>
    $("#ThisArticle").addClass("enter-up-bounce");
</script>
<div id="ThisArticle" class='article-thisArticle'>
    <h2>我理想中的前端开发环境</h2>
    <hr/>
            <ul class="list-inline clearfix">
            <li class="meta-date">
                 <i class="glyphicon glyphicon-calendar btn-xs">
                     <span style="font-size:inherit;">刚刚</span>
                 </i>
            </li>
            <li class="meta-tags ">
                 <i class="glyphicon glyphicon-user btn-xs">
                     <span style="font-size:inherit;">管理员</span>
                 </i>
            </li>
             <li class="meta-tags">
                 <i class="glyphicon glyphicon-tag btn-xs">
                     <span style="font-size:inherit;">统计脚本</span>
                 </i>
            </li>
            <li class="meta-tags">
                 <i class="glyphicon glyphicon-tag btn-xs">
                     <span style="font-size:inherit;">统计脚本</span>
                 </i>
            </li>
        </ul>
    <div id="articleContent" style=" padding-top: 10px;padding-left: 10px;">
        
    </div>
        
  </div>